body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #c0b3b3, #98FF98);
    color: #333;
    display: flex;
    min-height: 100vh;
}

.sidebar {
    min-height: 100vw;
    width: 15%;
    background-color: #86b817;
    color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    font-size: 22px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

.sidebar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 13px;
    display: block;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.sidebar a:hover {
    background-color: #8fe751;
    padding-left: 10px;
}

.sidebar a.active {
    background-color: #9ec645;
    font-weight: 500;
}

.content {
    flex: 1;
    padding: 20px;
}

h1 {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    color: #444;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    table-layout: fixed;
}

table th {
    background-color: #86b817;
    color: white;
    padding: 10px;
    text-align: left;
}

table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    word-wrap: break-word;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

.add {
    display: inline-block;
    text-decoration: none;
    background-color: #86b817;
    padding: 10px 20px;
    color: #fff;
    margin: 0 20px 20px 0;
    border-radius: 20px;
    cursor: pointer;
}

.add:hover {
    color: #688b12;
}

.actions {
    display: flex;
    gap: 18px;
}

.actions a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #86b817;
    font-size: 18px;
    transition: color 0.3s ease;
}

.actions a:hover {
    color: #688b12;
}

.actions a::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    white-space: nowrap;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.actions a:hover::after {
    opacity: 1;
    visibility: visible;
}

.back-link {
    margin-top: 10px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    transition: color 0.3s ease;
}

.back-link .arrow {
    display: inline-block;
    margin-right: 8px;
    transition: transform 0.3s ease;
}

.back-link:hover .arrow {
    transform: translateX(-3px);
}

.back-link:hover {
    color: #86b817;
}


.popup {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #86b817; /* Success color */
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popup.error {
    background-color: #e74c3c;
}

.popup-message {
    font-size: 14px;
    margin-right: 10px;
}

#close-popup {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.popup {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #86b817;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

form button[type="submit"]:hover {
    background-color: #688b12;
}

.user-info-act {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
}

.user-info {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #333;
}

.user-info i {
    margin-right: 8px;
    color: #86b817;
    font-size: 24px;
}

.user-info span {
    font-size: 18px;
}

